@font-face {
  font-family: "Euclid Circular A";
  src: url("../../fonts/EuclidCircularA-Semibold-WebXL.woff2") format("woff2"),
    url("../../fonts/EuclidCircularA-Semibold-WebXL.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../../fonts/EuclidCircularA-Semibold-WebS.woff2") format("woff2"),
    url("../../fonts/EuclidCircularA-Semibold-WebS.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../../fonts/EuclidCircularA-Medium.woff2") format("woff2"),
    url("../../fonts/EuclidCircularA-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../../fonts/EuclidCircularA-Regular.woff2") format("woff2"),
    url("../../fonts/EuclidCircularA-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
