.abs-image {
  position: relative;

  .abs-image__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;

    @include breakpoint-down(mobile-medium) {
      right: -100px;
    }
  }
}

.abs-image--story1 {
  .animate-story1_svg__js-balloon1,
  .animate-story1_svg__js-balloon2,
  .animate-story1_svg__js-balloon3,
  .animate-story1_svg__js-balloon4 {
    opacity: 0;
    transform: translate(0, 20px);
  }

  .animate-story1_svg__js-balloon1 {
    transition: all 0.5s;
  }
  .animate-story1_svg__js-balloon2 {
    transition: all 0.5s 0.4s;
  }
  .animate-story1_svg__js-balloon3 {
    transition: all 0.5s 0.8s;
  }
  .animate-story1_svg__js-balloon4 {
    transition: all 0.5s 1.2s;
  }
}

.abs-image--story2 {
  svg {
    opacity: 0;
    transform: scale(0.7);
    transition: all 0.5s;
  }
}

.animate {
  &.aos-animate {
    .abs-image--story1 {
      .abs-image__item {
        transition-delay: 1.6s;
        opacity: 1;
      }
    }
    .abs-image--story2 {
      .abs-image__item {
        transition-delay: 0.5s;
        opacity: 1;
      }
    }
    .animate-story1_svg__js-balloon1,
    .animate-story1_svg__js-balloon2,
    .animate-story1_svg__js-balloon3,
    .animate-story1_svg__js-balloon4 {
      opacity: 1;
      transform: translate(0, 0);
    }

    svg {
      opacity: 1;
      transform: scale(1);
    }
  }
}
