.box-row {
  &:hover {
    .animate-moneyback {
      .animate-moneyback_svg__js-hand {
        animation: animateMoneybackHand 0.9s infinite alternate;
      }

      .animate-moneyback_svg__js-bag {
        animation: animateMoneybackBag 0.9s infinite alternate;
      }
    }
  }
}

@keyframes animateMoneybackHand {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(5px);
  }
}

@keyframes animateMoneybackBag {
  0% {
    transform: translate(0, 0) rotate(0);
  }

  100% {
    transform: translate(-15px, 45px) rotate(-25deg);
  }
}
