.animate-gurantee {
  .animate-guarantee_svg__js-arrow {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
  }

  .animate-guarantee_svg__js-arm {
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.5s 0.4s;
  }
}

.animate {
  &.aos-animate {
    .animate-guarantee_svg__js-arrow {
      opacity: 1;
      transform: translateY(0);
    }

    .animate-guarantee_svg__js-arm {
      opacity: 1;
      transform: translateY(0);
    }

    .box-animate:hover {
      .animate-guarantee_svg__js-arrow {
        transition: none;
        opacity: 0;
        animation: animateGuaranteeArrow 0.5s forwards;
      }

      .animate-guarantee_svg__js-arm {
        opacity: 0;
        transform: translateY(0);
        transition: none;
        animation: animateGuaranteeArm 0.5s 0.4s forwards;
      }
    }
  }
}

@keyframes animateGuaranteeArrow {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateGuaranteeArm {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
