.animate-magic {
  .animate-magic_svg__js-bg {
    animation: animateBG 5s infinite alternate;
  }

  .animate-magic_svg__js-arm-right,
  .animate-magic_svg__js-arm-left {
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(20%);
  }

  .animate-magic_svg__js-line,
  .animate-magic_svg__js-center {
    opacity: 0;
    transition: all 0.5s 0.3s;
  }

  .animate-magic_svg__js-swirl {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.5s 0.3s;
  }
}

.animate {
  &.aos-animate {
    .animate-magic_svg__js-arm-right,
    .animate-magic_svg__js-arm-left {
      opacity: 1;
      transform: translateY(0);
    }

    .animate-magic_svg__js-swirl {
      opacity: 1;
      transform: scale(1);
    }

    .animate-magic_svg__js-line,
    .animate-magic_svg__js-center {
      opacity: 1;
    }

    .box-row__inner:hover {
      .animate-magic_svg__js-swirl {
        transition: none;
        opacity: 0;
        transform: scale(0.9);
        animation: animateMagicSiwrl 0.5s 0.3s forwards;
      }

      .animate-magic_svg__js-center {
        transition: none;
        opacity: 0;
        animation: animateMagicOpacity 0.5s 0.3s forwards;
      }

      .animate-magic_svg__js-line {
        transition: none;
        opacity: 0;
        animation: animateMagicLine 0.5s 0.3s forwards;
      }

      .animate-magic_svg__js-arm-right,
      .animate-magic_svg__js-arm-left {
        transition: none;
        opacity: 0;
        animation: animateMagicArms 0.5s forwards;
      }
    }
  }
}

@keyframes animateMagicSiwrl {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animateMagicOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateMagicArms {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateMagicLine {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
