.box-row {
  &:hover {
    .animate-cancel {
      .animate-cancel_svg__js-circle {
        animation: animateCancelLikes 0.9s infinite alternate;
      }

      .animate-cancel_svg__js-line {
        animation: animateCancelLine 0.9s infinite alternate;
      }
    }
  }
  
  .bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: $c-teal-ae;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    margin: 0 auto 20px;
  }
}

@keyframes animateCancelLikes {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes animateCancelLine {
  0% {
    transform: translateY(0) rotate(0);
  }

  100% {
    transform: translateY(5px) rotate(9deg);
  }
}
