.animate-real {
  margin-left: -45%;
}

.animate {
  &.aos-animate {
    .box-animate:hover {
      .animate-real_svg__js-arrows {
        animation: animateRealArrows 0.5s linear;
      }
    }
  }
}

@keyframes animateRealArrows {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
