.animate-delivery {
  &.green {
    .animate-delivery_svg__js-circle {
      fill: $c-green-d9;
    }
  }

  .animate-delivery_svg__js-person {
    transform: translateY(10px);
    transition: all 0.5s;
  }

  .animate-delivery_svg__js-lines,
  .animate-delivery_svg__js-circle {
    opacity: 0;
    transition: all 0.5s 0.4s;
  }
}

.animate {
  &.aos-animate {
    .animate-delivery_svg__js-person {
      transform: translateY(0);
    }
    .animate-delivery_svg__js-lines,
    .animate-delivery_svg__js-circle {
      opacity: 1;
    }

    .box-animate:hover {
      .animate-delivery_svg__js-person {
        transform: translateY(0);
        transition: none;
        animation: animateDeliveryPerson 0.5s forwards;
      }

      .animate-delivery_svg__js-lines,
      .animate-delivery_svg__js-circle {
        opacity: 0;
        transition: none;
        animation: animateDeliveryOpacity 0.5s 0.4s forwards;
      }
    }
  }
}

@keyframes animateDeliveryPerson {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animateDeliveryOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
