.animate {
  .box-row__col {
    svg {
      display: block;
      margin: 0 auto;
    }

    @include breakpoint-down(mobile-medium) {
      position: relative;

      &:first-child {
        svg {
          margin-left: -90px;
          padding-right: 20px;
        }

        .quote {
          padding: 0;
          margin-left: 0;
        }
      }

      &:last-child {
        svg {
          padding-left: 20px;
          margin-right: -67px;
        }

        .quote {
          padding: 0;
        }
      }

      .arrow-down {
        svg {
          padding: 0;
        }
      }
    }
  }

  .box-row--center,
  .box-row-story,
  .grid__inner {
    .box-row__col {
      @include breakpoint-down(mobile-medium) {
        &:first-child,
        &:last-child {
          svg {
            padding: 0;
            margin: 0;
          }

          .quote {
            margin: 0 0 24px;
          }
        }
      }
    }
  }
  .box-row--center {
    .arrow-down {
      position: absolute;
      top: -220px;
      right: 45%;
      transform: rotate(-30deg);
    }

    &.box-row-likes {
      .arrow-down {
        top: -250px;
        right: 30%;
      }
    }

    h4,
    p {
      text-align: center;
    }
  }
}

.box-row-story {
  .box-row__col {
    &:first-child {
      @include breakpoint-down(mobile-medium) {
        order: 1;
      }
    }
    .abs-image--story1 {
      @include breakpoint-down(mobile-medium) {
        right: -37%;
      }
    }

    .abs-image--story2 {
      @include breakpoint-down(mobile-medium) {
        left: -120px;
      }
    }
  }

  .abs-image {
    transition: transform 0.3s ease-in-out;
  }
}

.abs-image--story1,
.abs-image--story2 {
  .abs-image__item {
    & > span {
      transition: transform 0.4s;
    }

    &:hover {
      & > span {
        transform: rotateY(180deg);
      }
    }
  }
}

.box-row-story--1 {
  .box-row__col {
    &:first-child {
      @include breakpoint-down(mobile-medium) {
        position: absolute;
        transform: rotateY(180deg);
        right: -180px;

        .img-wrapper {
          position: relative;
          left: -20px;
        }
      }
    }

    &:last-child {
      @include breakpoint-down(mobile-medium) {
        flex-basis: 57% !important;
      }
    }
  }
}

.box-row-story--2 {
  position: relative;

  .box-row__col {
    &:last-child {
      @include breakpoint-down(mobile-medium) {
        position: absolute;
      }
    }

    &:first-child {
      @include breakpoint-down(mobile-medium) {
        margin-left: 46%;
        flex-basis: 57% !important;
      }
    }
  }
}
