.box-row {
  &:hover {
    .animate-custom-support {
      .animate-custom-support_svg__js-star {
        animation: animateSupportLikes 0.9s infinite alternate;
      }
    }
  }
}

@keyframes animateSupportLikes {
  0% {
    transform: rotate(4deg) scale(0.9);
  }

  100% {
    transform: rotate(-4deg) scale(1);
  }
}
