.animate-select-package {
  .animate-select-package_svg__js-arm {
    opacity: 0;
    transform: translate(-40px, 40px);
    transition: all 0.5s;
  }

  .animate-select-package_svg__js-lines,
  .animate-select-package_svg__js-ellipse,
  .animate-select-package_svg__js-card {
    opacity: 0;
    transition: all 0.5s;
  }
}

.animate {
  &.aos-animate {
    .animate-select-package_svg__js-lines,
    .animate-select-package_svg__js-ellipse,
    .animate-select-package_svg__js-card {
      opacity: 1;
    }
    .animate-select-package_svg__js-arm {
      opacity: 1;
      transform: translate(0, 0);
    }

    .box-row__inner:hover {
      .animate-select-package_svg__js-arm {
        opacity: 0;
        transform: translate(-40px, 40px);
        transition: none;
        animation: animateSelectPackageArm 0.5s forwards;
      }

      .animate-select-package_svg__js-lines,
      .animate-select-package_svg__js-ellipse,
      .animate-select-package_svg__js-card {
        opacity: 0;
        transition: none;
        animation: animateSelectPackageOpacity 0.5s 0.2s forwards;
      }
    }
  }
}

.animate-select-package_svg__js-bg {
  animation: animatePackageBG 5s linear infinite alternate;
}

@keyframes animateSelectPackageArm {
  from {
    opacity: 0;
    transform: translate(-40px, 40px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animateSelectPackageOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animatePackageBG {
  from {
    transform: scale(0.9) rotate(-5deg) skew(5deg);
  }

  to {
    transform: scale(1) rotate(0) skew(0);
  }
}
