.automatic-instagram-likes {
    .callout {
        display: none;
    }

    .get-started {
        margin-bottom: 40px;

        .get-started__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $c-orange-ff56;
            padding: 45px 64px;
            border-radius: 20px;
            text-align: left;

            @include breakpoint-down(tablet) {
                padding: 45px 50px;
            }

            @include breakpoint-down(mobile) {
                flex-direction: column;
                text-align: center;
                gap: 16px;
                padding: 32px 24px;
            }

            span,
            h2 {
                color: #ffffff;
            }

            h2 {
                font-weight: 700;
                margin-bottom: 10px;
            }

            span {
                display: inline-block;
                font-weight: 500;
                max-width: 310px;
                line-height: 1.33;
                font-size: 18px;
            }


            .btn {
                width: 300px;
                padding: 17.5px 0;
                color: $c-orange-ff56;
                border-radius: 28px;

                &:hover {
                    text-decoration: underline 1.5px;
                    background-color: #ffffff;
                }
            }
        }
    }

    .header {
        top: 0;
    }

    .grid--boxes {
        @include breakpoint-up(mobile) {
            padding: 0 20px;
            gap: 0;
        }

        .box-row__col {
            p {
                line-height: 1.45;

                @include breakpoint-up(mobile) {
                    max-width: 85%;
                }
            }

            &:first-child {
                @include breakpoint-between(mobile, tablet) {
                    margin-right: 24px;
                }
            }
        }

        .box-row {
            &:nth-child(even) {
                .shell {
                    @include breakpoint-up(mobile) {
                        padding: 0 40px 0 0;
                    }
                }
            }
        }

        .detection {
            .box-row__col {
                &:last-child {
                    @include breakpoint-down(mobile) {
                        margin-top: -22px;
                    }
                }

                &:first-child {
                    @include breakpoint-down(mobile) {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}