.blog {
    .blog__intro {
        padding: 60px 0 50px;

        @include breakpoint-down(tablet) {
            .post-head__inner {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 50px;
            }

            .post-head__entry {
                padding: 0;
                max-width: 70%;

                h3 {
                    font-size: 34px;
                }
            }

            .post-head__img-block {
                width: 609px;
            }
        }

        @include breakpoint-down(mobile) {
            padding: 20px 0 35px;

            .post-head__inner {
                row-gap: 25px;
            }

            .post-head__entry {
                max-width: 520px;

                h3 {
                    font-size: 24px;
                }
            }

            .post-head__img-block {
                width: 100%;
            }
        }

        @include breakpoint-down(mobile-medium) {
            .post-head__img-block {
                height: 205px;
            }

            .post-head {
                &.no-img {
                    .post-head__img-wrapper {
                        width: 140px;
                        height: 175px;
                    }
                }
            }
        }
    }

    .posts-group {
        margin: 35px 0 55px;

        @include breakpoint-down(mobile) {
            margin: 35px 0;
        }
    }

    .dropdown__button,
    .dropdown__input {
        background-color: $c-white-f2;
    }
}
