.box-row {
  .shell {
    max-width: 855px;
  }

  .box-row__inner {
    display: flex;
    justify-content: space-between;

    @include breakpoint-down(mobile-medium) {
      justify-content: initial;
      align-items: center;

      svg {
        max-width: 220px;
      }
    }

    &.mb {
      margin-bottom: 55px;

      @include breakpoint-down(mobile-medium) {
        margin-bottom: 40px;
      }
    }
  }

  .box-row__col {
    flex: 0 0 48%;

    .quote {
      height: auto;
      width: 54px;
      margin: 0 0 24px;

      @include breakpoint-down(mobile-medium) {
        width: 45px;
      }
    }

    @include breakpoint-down(mobile-medium) {
      flex-basis: 50% !important;
    }
  }

  .arrow-down {
    position: relative;
    margin-bottom: 90px;

    @include breakpoint-down(mobile-medium) {
      margin-bottom: 70px;
    }

    &--right {
      justify-items: flex-end;

      svg {
        right: 20%;
      }
    }

    svg {
      position: absolute;
      top: 0;
    }
  }

  svg {
    display: block;
    max-width: 100%;
  }

  h4 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;

    @include breakpoint-down(mobile) {
      font-size: 21px;
    }

    i {
      margin-left: 10px;

      @include breakpoint-down(mobile) {
        display: none;
      }
    }
  }

  .h5 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: $c-black-31;
    line-height: 1.2;
  }

  p {
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    color: $c-gray-62;

    &.large {
      margin-bottom: 20px;
      font-size: 21px;
      color: $c-gray-4f;

      @include breakpoint-down(mobile) {
        font-size: 16px;
      }
    }

    a {
      color: $c-orange-ff6b;
      transition: color 0.3s;

      &:hover {
        text-decoration: underline 1.5px $c-orange-ff6b;
      }
    }

    strong {
      font-weight: 700;
    }
  }

  .box-row--center {
    @include breakpoint-down(mobile-medium) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.box-row-animate-buy {
  margin: -52px 0 102px;

  @include breakpoint-down(mobile) {
    margin: 40px 0;
  }
}

.box-row-select-package {
  margin-bottom: 70px;

  @include breakpoint-down(mobile-medium) {
    margin-bottom: 50px;
  }
}

.box-row-magic {
  margin-bottom: 90px;

  @include breakpoint-down(mobile-medium) {
    margin: 50px 0 40px;
  }

  svg {
    @include breakpoint-down(mobile-medium) {
      height: auto;
    }
  }
}

.box-row-likes {
  margin-top: 40px;

  .box-row__col {
    &:first-child {
      @include breakpoint-down(mobile-medium) {
        margin-bottom: 20px;
      }
    }
  }

  .btn {
    display: flex;
    margin: 20px auto 0;
    padding: 15.5px 38px;
    border-radius: 28px;
    font-size: 18px;
  }
}
