.callout {
  position: sticky;
  top: 0;
  z-index: 1002;
  padding: 9px 0 10px;
  background: #3964e7;

  .callout__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    z-index: 1;

    span {
      color: #ffffff;
      font-size: 13px;
      font-weight: 500;
      font-family: $font-base;
    }

    .btn {
      padding: 7px 11px 6px 11px;
      border-radius: 42px;
      font-size: 10px;
      line-height: 11px;
    }
  }

  .callout__svg {
    svg {
      position: absolute;
      top: 45%;
      left: 48.5%;
      transform: translate(-50%, -50%);
    }
  }
}
