.contact-us {
  .contact-us__inner {
    display: flex;
    margin: 72px 0 45px;

    @include breakpoint-down(mobile) {
      margin: -20px 0 45px;
    }

    @include breakpoint-down(mobile) {
      flex-direction: column;
    }
  }

  .contact-us__svg {
    max-width: 30.5%;
    margin: 0 13% 0 3%;

    @include breakpoint-down(tablet) {
      max-width: 35%;
    }

    @include breakpoint-down(mobile) {
      margin: 0 auto 25px;
      max-width: 306px;
    }

    svg {
      max-width: 100%;
      height: auto;
    }
  }
}
