.animate-bg {
  animation: animateBG 5s 1 alternate;
}

.animate-feet-left {
  animation: animateFeet 1s 3 alternate;
}

.animate-feet-right {
  animation: animateFeet 1s 3 alternate;
}

.animate-hand-swipe {
  animation: animateHandSwipe 3s 2 alternate;
}

.animate-arrow-path {
  opacity: 0;
}

.animate-character-opacity {
  opacity: 0;
  transition: opacity 0.5s 0.3s;
}

.animate.aos-animate {
  .animate-arrow-path {
    animation: animateArrowPath 0.5s forwards;
  }
  .animate-character-opacity {
    opacity: 1;
  }
}

@keyframes animateHandSwipe {
  0%,
  90% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

@keyframes animateFeet {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-1deg);
  }
}

@keyframes animateArrowPath {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
