.dropdown {
    position: relative;
    min-width: 144px;
    z-index: 999;

    .dropdown__list {
        position: absolute;
        width: max-content;
        border-radius: 12px;
        left: 0;
        top: 60px;
        display: none;
        flex-direction: column;
        padding: 8px 0;
        box-shadow: 0px 3px 7px rgba(174, 189, 217, 0.07), 0px 4px 13px rgba(130, 145, 152, 0.08),
            0px 2px 2px rgba(65, 71, 79, 0.08);
    }

    &.show {
        .dropdown__list {
            display: flex;
        }
    }

    &.show-top {
        .dropdown__list {
            top: unset;
            bottom: 60px;
        }
    }

    .dropdown__list,
    .dropdown__button {
        cursor: pointer;
        border: 1px solid rgba(243, 243, 243, 0.62);
        background-color: #ffffff;
    }

    .dropdown__item,
    .dropdown__button {
        font-size: 14px;
        font-weight: 500;
    }

    .dropdown__item,
    .dropdown__button,
    .dropdown__input {
        color: $c-gray-4f;

        &:active,
        &:focus,
        &:visited,
        &:target,
        &:focus-visible,
        &:focus-within {
            color: $c-gray-4f;
        }
    }

    .dropdown__button {
        display: flex;
        align-items: center;
        padding: 13px 15px;
        border-radius: 45px;
        width: 100%;
        gap: 15px;
        box-shadow: 0px 2px 2px 0px #41474f14, 0px 4px 13px 0px #82919814, 0px 3px 7px 0px #aebdd912;
    }

    .dropdown__item,
    .dropdown__input,
    .dropdown__icon-group,
    .dropdown__button-inner {
        display: flex;
        align-items: center;
    }

    .dropdown__item {
        padding: 11px 17px;
        gap: 13px;

        &:hover {
            background-color: $c-white-f2;
        }

        &.active {
            color: $c-gray-9f;

            &:hover {
                background: none;
            }
        }
    }

    .dropdown__button-inner,
    .dropdown__input {
        cursor: pointer;
        gap: 13px;
        border: none;
        width: max-content;
        background-color: white;
        font-size: 14px;

        &:focus {
            outline: none;
        }
    }

    .dropdown__icon-group {
        flex-direction: column;
        margin-left: auto;
        gap: 4px;
    }
}

.footer {
    .dropdown__button {
        border-radius: 12px;
        padding: 11px 14px 11px 10px;
    }
}
