.footer {
    padding-top: 55px;
    margin: 55px 0 35px;

    @include breakpoint-down(mobile) {
        padding-top: 35px;
    }

    .footer__nav {
        display: grid;
        grid-template-columns: 27.5% 31% 27% 14.5%;

        @include breakpoint-down(mobile) {
            row-gap: 50px;
            grid-template-columns: 40% 35% 25%;
        }

        @include breakpoint-down(mobile-medium) {
            column-gap: 20px;
            grid-template-columns: max-content max-content;
        }
    }

    .footer__logo {
        max-width: 134px;

        @include breakpoint-down(mobile) {
            grid-column: 1/5;
        }

        svg {
            max-width: 100%;
            height: auto;
        }
    }

    .buzz {
        @include breakpoint-down(mobile-medium) {
            grid-column: 1/2;
            margin-top: 10px;
        }
    }

    .about {
        @include breakpoint-down(mobile-medium) {
            justify-self: end;
            grid-column: 2/4;
        }
    }

    .footer__extra,
    .footer__utils {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__extra {
        margin: 132px 0 30px;
        column-gap: 63px;

        @include breakpoint-down(small-desktop) {
            column-gap: 45px;
            row-gap: 25px;
            justify-content: space-between;
        }

        @include breakpoint-down(mobile) {
            margin: 65px 0 30px;
            row-gap: 18px;
        }
    }

    .footer__utils {
        gap: 32px;

        @include breakpoint-down(tablet) {
            order: -1;
        }

        @include breakpoint-down(mobile-medium) {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            margin-bottom: 15px;
        }

        a {
            font-size: 13px;
            color: $c-gray-4f;

            @include breakpoint-down(mobile) {
                font-size: 12px;
            }

            &:hover {
                color: $c-orange-ff;
            }
        }
    }

    .copyright {
        @include breakpoint-down(tablet) {
            width: 100%;
            order: 1;
        }

        @include breakpoint-down(mobile) {
            font-size: 11.5px;
        }

        font-size: 13px;
        color: $c-gray-4f;
        margin: 0;
    }

    .payments {
        margin-left: auto;

        @include breakpoint-down(mobile) {
            width: 100%;
            margin-left: 0;
            margin-bottom: 5px;
        }

        .payments__inner {
            display: flex;
            gap: 5px;
        }
    }

    .footer__outro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 35px;
    }

    .btn-scroll {
        position: relative;
        transition: transform 0.7s;
        cursor: pointer;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0px 2px 2px 0px #41474f14, 0px 4px 13px 0px #82919814, 0px 3px 7px 0px #aebdd912;

        &:hover {
            transform: translateY(-6px);
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.blog,
.posts {
    .footer {
        .dropdown {
            display: none;
        }

        .btn-scroll {
            margin-left: auto;
        }
    }
}
