.form {
  input,
  textarea {
    font-family: $font-base;

    &::placeholder {
      opacity: 0.5;
      font-family: $font-base;
    }
  }
  &.buy-form {
    margin-bottom: 37px;

    .form__actions {
      gap: 24px;

      .btn {
        width: 100%;
        font-size: 17px;
        font-weight: 600;
        border-radius: 16px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .flex-col {
        &:nth-child(1) {
          flex: 0 0 167px;

          @include breakpoint-down(mobile) {
            flex-basis: 100%;
          }
        }
      }

      .customer-rated__inner {
        display: block;
      }

      .customer-rated__text {
        padding-top: 5px;
        color: $c-black-4f;
      }
    }
  }

  .form__field {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    margin: 8px 0 20px;
    border-radius: 12px;
    background-color: $c-white-f2;
    color: $c-black-31;
    font-size: 15px;
    padding: 17px;
    font-weight: 400;

    &:focus,
    &:hover {
      outline: none;
      border-color: $c-orange-ff;
    }

    &.form__field--textarea {
      height: 115px;
    }
  }

  .form__label {
    position: relative;
    font-size: 14px;
    line-height: 1.1;

    &:after {
      content: '(optional)';
      color: $c-gray-79;
      position: absolute;
      top: 2px;
      right: -66px;
      font-size: 14px;
      opacity: 0.5;
    }

    &.required {
      &:after {
        content: '*';
        color: $c-orange-ff;
        top: -2px;
        right: -11px;
        opacity: 1;
      }
    }
  }

  .form__actions {
    margin-top: 28px;
    .btn {
      padding: 20px 65px;
    }
  }

  .last {
    margin-top: 34px;
  }
}

.buy-form-alt {
  form {
    @include breakpoint-down(mobile) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .buy-form-alt__price {
    @include breakpoint-down(mobile) {
      text-align: center;
      margin-bottom: 23px;
    }

    .flex-row {
      @include breakpoint-down(mobile) {
        justify-content: center;
      }
    }
  }

  .buy-form-alt__actions {
    margin: 27px 0;

    @include breakpoint-down(mobile) {
      display: block;
      flex: 0 0 100%;
    }

    & > .flex-col {
      flex: 0 0 50%;
    }

    .flex-row {
      gap: 5px;
    }

    .btn {
      width: 100%;
      height: 61px;
      font-size: 17.5px;
    }

    h4 {
      margin-bottom: 6px;
      font-size: 31px;
      font-weight: 600;
      color: $c-black-49;

      sup {
        padding: 0 3px;
        vertical-align: super;
        font-size: 17px;
        color: $c-gray-9c;
        font-weight: normal;

        &.strike {
          text-decoration: line-through;
        }
      }
    }

    .buy-form-alt__saved {
      font-size: 13.2px;
      color: $c-black-49;

      @include breakpoint-down(mobile) {
        font-size: 14px;
      }
    }

    strong {
      color: $c-green-23;
      font-size: 14px;

      @include breakpoint-down(mobile) {
        font-size: 15px;
      }
    }
  }
}
