.icon-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

    @include breakpoint-down(mobile) {
        flex-direction: row;
        align-items: center;
    }

    &.is-row {
        flex-direction: row;
    }

    .icon-text__img {
        @include breakpoint-down(mobile) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
        }
    }

    .icon-text__text {
        font-size: 13.5px;
        line-height: 1.33;
        font-weight: 500;
        color: $c-black-4e;

        @include breakpoint-down(mobile) {
            font-size: 12.5px;
        }

        span {
            display: block;

            @include breakpoint-down(tablet) {
                display: inline-block;
            }
        }
    }
}