.inline-radio-outer {
  position: relative;
  display: inline-block;
  margin-bottom: 26px;
}

.inline-radio-recommended {
  position: absolute;
  right: 0;
  bottom: calc(100% - 5px);
  padding: 5px 9px 15px;
  margin-bottom: -5px;
  background-color: $c-green-17;
  border-radius: 6px;
  font-weight: 600;
  font-size: 11.5px;
  color: #fff;
}

.inline-radio-tooltip__dropdown {
  cursor: pointer;
  position: absolute;
  right: -37px;
  top: 100%;
  width: 252px;
  transform: translateY(10px);
  padding: 21px 21px 5px;
  background-color: #fff;
  box-shadow: 0px 2.42763px 4.85526px rgba(174, 189, 217, 0.07), 0px 3.23684px 18.6118px rgba(130, 145, 152, 0.19),
    0px 5.66447px 19.4211px rgba(65, 71, 79, 0.08);
  border-radius: 9.71053px;
  z-index: 10;

  .inline-radio-tooltip__dropdown-text {
    p {
      margin-bottom: 15px;
      font-size: 13.5px;
      color: $c-gray-62;

      strong {
        color: $c-black-31;
      }
    }
  }

  .inline-radio-tooltip__dropdown-close {
    position: absolute;
    right: 9px;
    top: 9px;
    background: none;
    border: 0;
    cursor: pointer;
  }
}

.inline-radio-tooltip__button {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: none;
  cursor: pointer;
}

.inline-radio-holder {
  position: relative;
  z-index: 2;
  display: inline-flex;
  padding: 4px;
  background: $c-gray-f2;
  border-radius: 12px;

  .inline-radio {
    position: relative;
    font-size: 12.5px;
    padding: 10px 14px;
    font-weight: 600;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    cursor: pointer;

    &:checked {
      & ~ .inline-radio__value {
        color: $c-black-31;
        font-weight: 600;
      }

      & ~ .inline-radio__bg {
        background-color: #fff;
        box-shadow: 
          0px 2px 2px 0px #41474f14,
          0px 4px 13px 0px #82919814,
          0px 3px 7px 0px #aebdd912;
      }
    }
  }

  .inline-radio__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border-radius: 12px;
    transition: background 0.3s;
  }

  .inline-radio__value {
    position: relative;
    z-index: 2;
    color: $c-gray-62;
    font-weight: 400;
  }
}

.buy-form {
  .inline-radio-tooltip__dropdown {
    right: unset;
  }
}
