.intro {
  position: relative;
  margin: 60px 0 120px;

  @include breakpoint-down(mobile) {
    margin: 70px 0 50px;
  }

  .intro__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-down(tablet) {
      display: block;
    }
  }

  .abs-image {
    margin-top: 80px;
  }

  p {
    font-size: 17.5px;
    line-height: 1.529412;
  }

  .intro__entry {
    position: relative;
    z-index: 1;

    @include breakpoint-down(tablet) {
      padding-top: 55px;
    }

    &.smaller {
      max-width: 520px;
    }

    h1 {
      margin-bottom: 25px;

      @include breakpoint-down(tablet) {
        max-width: 60%;
        margin-bottom: 10px;
      }

      @include breakpoint-down(mobile) {
        font-size: 33px;
        letter-spacing: -1.15px;
        max-width: 325px;
      }

      @include breakpoint-down(mobile-medium) {
        max-width: 75%;
      }
    }

    p {
      font-size: 17.5px;
      margin-bottom: 45px;

      @include breakpoint-down(tablet) {
        max-width: 70%;
        margin-bottom: 35px;
      }

      @include breakpoint-down(mobile) {
        max-width: 100%;
        font-size: 16px;
      }
    }
  }

  .intro__img {
    position: relative;
    flex: 0 0 40%;

    @include breakpoint-down(tablet) {
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      transform: translateY(-20%);
    }

    @include breakpoint-down(mobile) {
      max-width: 50%;
      transform: translate(10%, -50%);
    }

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  .intro__img-inner {
    position: absolute;
    top: 5%;
    right: 10%;
    max-width: 51%;
  }

  .fancy-btn-group {
    max-width: 630px;

    @include breakpoint-down(mobile) {
      flex-direction: column;
    }
  }

  .customer-rated {
    @include breakpoint-down(mobile) {
      position: absolute;
      top: 0px;
      left: 0;
    }
  }

  .customer-rated__inner {
    &:after {
      display: none;
      content: "5.0";
      position: absolute;
      top: 5px;
      left: 0;
      font-size: 14px;
      letter-spacing: -2%;
    }

    @include breakpoint-down(mobile) {
      margin-left: 25px;

      &:after {
        display: block;
      }
    }
  }

  .customer-rated__text {
    color: $c-black-31;

    @include breakpoint-down(mobile) {
      display: none;
    }
  }
}

.animate {
  &.aos-animate {
    .abs-image__item {
      opacity: 1;
    }
  }
}
.home {
  .intro {
    .shell {
      @include breakpoint-down(mobile-small) {
        padding: 0 10px 0 25px;
      }
    }
  }
  .intro__img {
    @include breakpoint-down(mobile) {
      width: 50%;
      top: 1%;
    }

    @include breakpoint-down(mobile-medium) {
      max-width: 100%;
      width: 55%;
      top: -1%;
    }

    @include breakpoint-down(mobile-small) {
      width: 210px;
      right: -35px;
      top: -20px;
    }
  }

  .intro__entry {
    h1 {
      @include breakpoint-down(small-desktop) {
        max-width: 470px;
      }
      @include breakpoint-down(mobile) {
        font-size: 31px;
        width: 300px;
      }
    }

    .fancy-btn-group {
      @include breakpoint-down(mobile-small) {
        padding-right: 15px;
      }
    }
  }
}

.automatic-instagram-likes {
  .intro__entry {
    h1 {
      @include breakpoint-down(small-desktop) {
        max-width: 340px;
      }

      @include breakpoint-down(mobile) {
        max-width: 245px;
      }
    }
  }

  .intro__img {
    @include breakpoint-down(mobile) {
      top: 5%;
      right: 20px;
      width: 42%;
    }

    @include breakpoint-down(mobile-medium) {
      max-width: 100%;
      width: 200px;
      right: 10px;
    }

    @include breakpoint-down(mobile-small) {
      right: -40px;
    }
  }
}

.buy-instagram-followers,
.buy-instagram-likes {
  .customer-rated {
    margin-bottom: 30px;
  }

  .intro__entry {
    padding-top: 0;

    @include breakpoint-down(mobile) {
      padding-top: 50px;
    }
  }
}

.buy-instagram-likes-alt,
.buy-instagram-likes,
.buy-instagram-views,
.buy-instagram-views-alt {
  .intro__entry {
    h1 {
      @include breakpoint-down(small-desktop) {
        max-width: 365px;
      }

      @include breakpoint-down(mobile) {
        max-width: 254px;
      }
    }

    p {
      @include breakpoint-down(mobile) {
        max-width: 70%;
      }

      @include breakpoint-down(mobile-medium) {
        max-width: 100%;
      }
    }
  }

  .intro__img {
    @include breakpoint-down(small-desktop) {
      position: relative;
      top: -90px;
    }

    @include breakpoint-down(tablet) {
      position: absolute;
      top: 0;
      width: 40%;
    }

    @include breakpoint-down(mobile) {
      max-width: 100%;
      width: 46%;
      top: 65px;
    }

    @include breakpoint-down(mobile-medium) {
      width: 220px;
      top: 25px;
      right: -25px;
    }

    @include breakpoint-down(mobile-small) {
      width: 56%;
      top: 1%;
      right: -35px;
    }
  }
}

.buy-instagram-followers-alt,
.buy-instagram-followers {
  .intro__entry {
    @include breakpoint-down(mobile) {
      display: flex;
      flex-direction: column;
    }

    h1 {
      @include breakpoint-down(small-desktop) {
        max-width: 365px;
      }

      @include breakpoint-down(mobile) {
        max-width: 254px;
        order: -2;
      }
    }

    p {
      @include breakpoint-down(mobile) {
        margin-bottom: 15px;
        order: -1;
      }
    }

    .sponsored {
      top: 10px;

      @include breakpoint-down(mobile) {
        top: 0;
        max-width: max-content;
        margin-bottom: 40px;
      }
    }
  }

  .intro__inner {
    align-items: flex-start;
  }

  .intro__img {
    position: relative;
    flex-basis: 50%;
    top: 50px;

    @include breakpoint-down(tablet) {
      position: absolute;
      top: 0;
      width: 45%;
    }

    @include breakpoint-down(mobile) {
      max-width: 100%;
      width: 46%;
      top: 65px;
    }

    @include breakpoint-down(mobile-medium) {
      width: 230px;
      top: 45px;
      right: 0px;
    }

    @include breakpoint-down(mobile-small) {
      width: 210px;
      top: 35px;
      right: -40px;
    }
  }
}

.buy-instagram-followers {
  .intro__entry {
    p {
      margin-bottom: 20px;
    }

    .sponsored {
      @include breakpoint-down(mobile) {
        margin-bottom: 25px;
      }
    }
  }
}

.buy-instagram-followers,
.buy-instagram-likes {
  .intro {
    .shell {
      @include breakpoint-down(mobile-medium) {
        padding: 0 10px;
      }
    }
  }

  @include breakpoint-down(mobile-medium) {
    .grid-radios-holder,
    .buy-form-alt__actions,
    .grid-radios,
    .fullwidth,
    .intro__entry h1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .customer-rated {
    left: 10px;
  }
}

.buy-instagram-likes {
  .intro__inner {
    align-items: flex-start;
  }

  .intro__img {
    @include breakpoint-up(tablet) {
      position: relative;
      top: 160px;
    }
  }
}

.buy-instagram-followers,
.buy-instagram-followers-alt,
.buy-instagram-likes,
.buy-instagram-likes-alt,
.buy-instagram-views,
.buy-instagram-views-alt,
.automatic-instagram-likes {
  .intro__img {
    @include breakpoint-up(tablet) {
      position: sticky;
      top: 0;
      align-self: flex-start;
    }
  }
}