.logos {
  padding-bottom: 32px;
  text-align: center;

  h4 {
    margin-bottom: 45px;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    color: $c-gray-5e;
    opacity: 0.6;
    letter-spacing: 1px;

    @include breakpoint-down(mobile) {
      margin-bottom: 30px;
    }
  }

  .logos__inner,
  .logos__col {
    align-items: center;
    display: flex;
    column-gap: 76px;

    @include breakpoint-down(small-desktop) {
      column-gap: 50px;
    }

    @include breakpoint-down(tablet) {
      justify-content: space-around;
      column-gap: 140px;
    }

    @include breakpoint-down(mobile) {
      column-gap: 50px;
    }
  }

  .logos__col {
    &:last-child {
      @include breakpoint-down(tablet) {
        column-gap: 90px;
      }

      @include breakpoint-down(mobile) {
        column-gap: 40px;
      }
    }
  }

  .logos__inner {
    justify-content: center;
    row-gap: 20px;

    @include breakpoint-down(tablet) {
      flex-direction: column;
    }

    @include breakpoint-down(mobile) {
      row-gap: 10px;
    }

    svg {
      height: auto;
    }
  }

  .entp {
    max-width: 162px;

    @include breakpoint-down(mobile) {
      max-width: 114px;
    }
  }

  .huff {
    max-width: 192px;

    @include breakpoint-down(mobile) {
      max-width: 118px;
    }
  }

  .vox {
    max-width: 87px;

    @include breakpoint-down(mobile) {
      max-width: 56px;
    }
  }

  .sej {
    max-width: 143px;

    @include breakpoint-down(mobile) {
      max-width: 92px;
    }
  }

  .vice {
    max-width: 92px;

    @include breakpoint-down(mobile) {
      max-width: 60px;
    }
  }
}
