.radio {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 14px;
  margin-bottom: 8.5px;
  max-height: 57px;

  @include breakpoint-down(mobile-medium) {
    max-height: 60px;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .radio__item {
    position: relative;
    flex: 0 0 21px;
    width: 21px;
    height: 21px;
    margin-right: 11px;
    border-radius: 50%;
    border: 1px solid $c-gray-cb;
  }

  .radio__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-gray-f2;
    border-radius: 13px;
    z-index: -1;
    transition: background 0.3s;
  }

  .radio__saved-icon {
    font-size: 0;
  }

  .radio__side {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
  }

  .radio__save {
    display: flex;
    width: 73px;
    height: 25px;
    align-items: center;
    justify-content: center;
    background-color: $c-yellow-ff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    color: $c-black-31;
  }

  .radio__saved {
    display: none;
    align-items: center;
    gap: 5px;
    font-size: 12px;

    strong {
      display: block;
      font-size: 12px;
      color: $c-black-31;
    }
  }

  .radio__popular {
    display: flex;
    width: 68px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    background-color: $c-purple-ee;

    @include breakpoint-down(mobile) {
      display: none;
    }
  }

  label {
    font-size: 14.5px;
    font-weight: 500;

    strong {
      margin-left: 5px;
      color: $c-black-31;

      @include breakpoint-down(mobile-medium) {
        display: block;
        margin: 5px 0 0;
      }
    }

    strike {
      color: $c-gray-9c;
      font-weight: 500;
    }
  }

  input:checked {
    & ~ .radio__item {
      background-color: $c-orange-ff60;
      border-color: $c-orange-ff60;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 9px;
        height: 9px;
        background-color: #fff;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }

    & ~ .radio__bg {
      background-color: $c-teal-ae;
    }

    & ~ .radio__side {
      .radio__save {
        display: none;
      }

      .radio__saved {
        display: flex;
        padding: 0.5px 0;
      }
    }
  }
}
