.radio-columns-holder {
  position: relative;
  flex: 0 0 100%;

  .inline-radio-recommended {
    right: 1px;
  }
}

.radio-columns {
  display: flex;
  gap: 12px;
  margin-bottom: 26px;

  .inline-radio-tooltip__dropdown {
    top: 50px;
    right: 0;
  }

  .radio-column {
    position: relative;
    flex: 1 1 223px;
    padding-bottom: 9px;
    border-radius: 12px;
    z-index: 3;

    @include breakpoint-down(mobile) {
      padding-bottom: 15px;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      z-index: 2;

      &:checked {
        & ~ .radio-column__check {
          background-color: $c-orange-ff;
          border-color: $c-orange-ff;
          svg {
            opacity: 1;
          }
        }
      }
    }

    &.orange {
      border: 2px solid $c-gray-f2;

      &.is-active {
        border-color: $c-orange-ff;
      }

      .radio-column__header {
        line-height: 1.2;
        background-color: $c-gray-f2;
        color: $c-black-31;
      }

      .highlighted {
        color: $c-orange-ff;
      }
    }

    &.blue {
      border: 2px solid $c-blue-31;

      &.is-active {
        background-color: $c-blue-31;
        color: #fff;
      }

      .radio-column__header {
        background-color: $c-blue-31;
        color: #fff;
      }

      .highlighted {
        color: $c-blue-31;
      }

      input:checked {
        & ~ .radio-column__check {
          background-color: $c-blue-31;
          border-color: #fff;
        }
        & ~ .radio-column__body {
          svg {
            path {
              fill: #fff !important;
            }
          }

          .highlighted {
            color: #fff;
          }
        }
      }

      .radio-column__list {
        svg {
          path {
            fill: $c-blue-31;
          }
        }
      }
    }
  }

  .radio-column__list {
    font-size: 13px;
    line-height: 1.4;

    @include breakpoint-down(mobile) {
      font-size: 12px;
    }

    li {
      position: relative;
      margin-bottom: 8px;
      padding-left: 24px;
      list-style: none;
      color: $c-black-3c;

      &.highlighted {
        font-weight: 700;
      }

      .a-like {
        cursor: pointer;
        position: relative;
        z-index: 9;
        display: inline-block;
        color: $c-orange-ff6b;
        text-decoration: underline;
        font-size: 12px;

        @include breakpoint-down(mobile) {
          font-size: 11px;
        }
      }
    }

    svg {
      position: absolute;
      left: 0;
      top: 5px;
      width: 11px;
      height: 10px;

      path {
        fill: $c-black-3c;
      }
    }
  }

  .radio-column__check {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 26px;
    height: 26px;
    border: 2px solid $c-gray-f2;
    box-sizing: border-box;
    border-radius: 8px;
    transition: all 0.3s;

    @include breakpoint-down(mobile) {
      width: 23px;
      height: 23px;
      right: 12px;
      bottom: 12px;
    }

    svg {
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  .radio-column__header {
    position: relative;
    padding: 20px 30px 20px 16px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 9px 9px 0 0;
  }

  .radio-column {
    &.blue {
      .radio-column__button {
        font-size: 0;
        padding: 0 6px 0 0;
      }

      &.is-active {
        li {
          color: #ffffff;
        }

        .a-like {
          color: $c-gray-c4;
        }
      }
    }
  }

  .radio-column__button {
    position: absolute;
    top: 20px;
    right: 7px;
    border: 0;
    background: none;
    z-index: 3;
    cursor: pointer;

    svg {
      path {
        fill: #fff;
        opacity: 1;
      }
    }
  }

  .radio-column__body {
    padding: 14px 6px 12px 12px;
  }
}
