.sponsored {
  display: inline-flex;
  padding: 11px 12px;
  background-color: $c-gray-fa;
  margin-bottom: 13px;
  border-radius: 33px;

  .flex-row {
    gap: 55px;
    align-items: center;

    @include breakpoint-down(mobile-small) {
      gap: 30px;
    }
  }

  .sponsored__text {
    font-size: 11px;
    line-height: 1;
    font-weight: 600;
    color: $c-gray-61;
    opacity: 0.6;
    letter-spacing: 0.03em;
  }

  a {
    display: flex;
    align-items: center;
    font-size: 13px;

    &:hover {
      svg {
        transform: translateX(3px);
      }
    }

    svg {
      margin-left: 10px;
      transition: transform 0.3s;
    }
  }
}
